<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Financial Portal</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}" defer></script>
</head>
<body>
<div class="head">
    <h1>Financial Reporting Portal Plus</h1>
    <img src="{{ url_for('static', filename='images/2560px-Deloitte.svg.png') }}" class="logo">
</div>    
<div class="search-container">
  <input type="text" id="searchInput" placeholder="Search for cards...">
</div>
    <div class="card-container">
      
       
        <div class="Section">
          <div class="Section-title">
            <h2> Section Title </h2></div>
         <div class="card-box">   
        <div class="card" id="one">
        <div class="card-inner">
          <div class="card-front">
            
            <img src="{{ url_for('static', filename='images/bank-statement.png') }}">
            <div>
              <h3>Firmwide Income Statement</h3>
          
              <p>More info here</p></div>
            
          </div>
      </div>
    </div>

    <div class="card" id="two">
        <div class="card-inner">
          <div class="card-front">
            <img src="{{ url_for('static', filename='images/office.png') }}">
            <div>
            <h3>Firmwide Income Statement</h3>
            <p> More info here</p></div>
          </div>
          <div class="card-back">
            <a href="https://www.google.com" target="_blank" style="display: block; width: 100%; height: 100%; text-decoration: none; color: inherit;">
                <p>More detailed information here...</p>
                <p>Click here for the report</p>
              </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="Section">
    <div class="Section-title">
      <h2> Section Title </h2></div>
   <div class="card-box">   
    
      <div class="cardtwo" id="3">
        <div class="cardtwo-inner">
          <div class="cardtwo-front">
            <img src="{{ url_for('static', filename='images/bank-statement.png') }}">
            <div>
            <h3>Business Income Statement</h3>
            <p> More info here</p></div>
          </div>
          <div class="cardtwo-back">
            <a href="https://www.google.com" target="_blank" style="display: block; width: 100%; height: 100%; text-decoration: none; color: inherit;">
                <p>More detailed information here...</p>
                <p>Click here for the report</p>
              </a>
          </div>
        </div>
      </div>
      <div class="cardtwo" id="4">
        <div class="cardtwo-inner">
          <div class="cardtwo-front">
            <img src="{{ url_for('static', filename='images/office.png') }}">
            <h3>Firmwide Income Statement</h3>
            <p> More info here</p>
          </div>
          <div class="cardtwo-back" href="www.google.com">
            <a href="https://www.google.com" target="_blank" style="display: block; width: 100%; height: 100%; text-decoration: none; color: inherit;">
                <p>More detailed information here...</p>
                <p>Click here for the report</p>
              </a>

          </div>
        </div>
      </div></div></div>
      <div class="Section">
        <div class="Section-title">
          <h2> Section Title </h2></div>
       <div class="card-box">   

      <div class="cards" id="5">
        <div class="cards-inner">
          <div class="cards-front">
            <img src="{{ url_for('static', filename='images/office.png') }}">
            <h3>Firmwide Income Statement Pivot</h3>
            <p> More info here</p>
          </div>
          <div class="cards-back">
            <a href="https://www.google.com" target="_blank" style="display: block; width: 100%; height: 100%; text-decoration: none; color: inherit;">
                <p>More detailed information here...</p>
                <p>Click here for the report</p>
              </a>
          </div>
        </div>
      </div>
      <div class="cards" id="6">
          <div class="cards-inner">
            <div class="cards-front">
              <img src="{{ url_for('static', filename='images/bank-statement.png') }}">
              <h3>Business Income Statement Pivot</h3>
              <p> More info here</p>
            </div>
            <div class="cards-back">
                <a href="https://www.google.com" target="_blank" style="display: block; width: 100%; height: 100%; text-decoration: none; color: inherit;">
                    <p>More detailed information here...</p>
                    <p>Click here for the report</p>
                  </a>
            </div>
          </div>
        </div>
        <div class="cards" id="7">
          <div class="cards-inner">
            <div class="cards-front">
              <img src="{{ url_for('static', filename='images/office.png') }}">
              <h3>Firmwide Income Statement</h3>
              <p> More info here</p>
            </div>
            <div class="cards-back">
                <a href="https://www.google.com" target="_blank" style="display: block; width: 100%; height: 100%; text-decoration: none; color: inherit;">
                    <p>More detailed information here...</p>
                    <p>Click here for the report</p>
                  </a>
            </div>
          </div>
        </div>
        <div class="cards" id="8">
          <div class="cards-inner">
            <div class="cards-front">
              <img src="{{ url_for('static', filename='images/bank-statement.png') }}">
              <h3>Business Income Statement</h3>
              <p> More info here</p>
            </div>
            <div class="cards-back">
                <a href="https://www.google.com" target="_blank" style="display: block; width: 100%; height: 100%; text-decoration: none; color: inherit;">
                    <p>More detailed information here...</p>
                    <p>Click here for the report</p>
                  </a>
            </div>
          </div>
        </div>
      </div></div>
      <div class="Section">
        <div class="Section-title">
          <h2> Section Title </h2></div>
       <div class="card-box">   

        <div class="cardsmall" id="9">
            <div class="cardsmall-inner">
              <div class="cardsmall-front">
                <img src="{{ url_for('static', filename='images/stats.png') }}">
                <!-- Content for the front of the card -->
                <p> More info here</p>
               
              </div>
              <div class="cardsmall-back">
                <a href="https://www.google.com" target="_blank" style="display: block; width: 100%; height: 100%; text-decoration: none; color: inherit;">
                    <p>More detailed information here...</p>
                    <p>Click here for the report</p>
                  </a>
              </div>
            </div>
          </div>
          <div class="cardsmall" id="10">
            <div class="cardsmall-inner">
              <div class="cardsmall-front">
                <!-- Content for the front of the card -->
                <img src="{{ url_for('static', filename='images/business-and-finance.png') }}">
                <p> More info here</p>
              </div>
              <div class="cardsmall-back">
                <a href="https://www.google.com" target="_blank" style="display: block; width: 100%; height: 100%; text-decoration: none; color: inherit;">
                    <p>More detailed information here...</p>
                    <p>Click here for the report</p>
                  </a>
              </div>
            </div>
          </div>
          </div>
        </div>
        <div class="Section">
          <div class="Section-title">
            <h2> Section Title </h2></div>
         <div class="card-box">   
        <div class="card" id="11">
        <div class="card-inner">
          <div class="card-front">
            
            <img src="{{ url_for('static', filename='images/bank-statement.png') }}">
            <div>
              <h3>Firmwide Income Statement</h3>
          
              <p>More info here</p></div>
            
          </div>
        <div class="card-back">
            <a href="https://www.google.com" target="_blank" style="display: block; width: 100%; height: 100%; text-decoration: none; color: inherit;">
                <p>More detailed information here...</p>
                
                <p>Click here for the report</p>
              </a>
        </div>
      </div>
    </div>

    <div class="cards" id="12">
        <div class="card-inner">
          <div class="card-front">
            <img src="{{ url_for('static', filename='images/office.png') }}">
            <div>
            <h3>Firmwide Income Statement</h3>
            <p> More info here</p></div>
          </div>
          <div class="card-back">
            <a href="https://www.google.com" target="_blank" style="display: block; width: 100%; height: 100%; text-decoration: none; color: inherit;">
                <p>More detailed information here...</p>
                <p>Click here for the report</p>
              </a>
          </div>
        </div>
      </div>

    <div class="cardsmall" id="10">
      <div class="cardsmall-inner">
        <div class="cardsmall-front">
          <!-- Content for the front of the card -->
          <img src="{{ url_for('static', filename='images/business-and-finance.png') }}">
          <p> More info here</p>
        </div>
        <div class="cardsmall-back">
          <a href="https://www.google.com" target="_blank" style="display: block; width: 100%; height: 100%; text-decoration: none; color: inherit;">
              <p>More detailed information here...</p>
              <p>Click here for the report</p>
            </a>
        </div>
      </div>
    </div></div>
  </div></div>


  </div>
  </body>
  </html>