body {
    font-family: 'DM Sans', sans-serif;
    min-height: 100vh;
    background-image: linear-gradient(to bottom, #ffffff, #a2c9ef);
}

.login-container, .register-container {
    background: white;
    padding: 20px;
    border-radius: 5px;

}

input {
    display: block;
    margin: 10px 0;
    padding: 10px;
    width: calc(100% - 22px);
    box-sizing: border-box;
}

button {
    padding: 10px;
    width: 100%;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}


.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.logo {
    height: 50px;
    margin-left: auto;
}


.card-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    padding: 20px;
    margin: auto;
    margin-top: 50px;
    max-width: calc(100% - 600px);
    border-radius: 15px;
    background-color: rgb(140, 140, 140, 0.32)
}

.card, .cards, .cardsmall, .cardtwo {
    border-radius: 15px;
    perspective: 1000px;
}

.card, .cardtwo  {
    width:250px;
    height: 250px;
}

.cards {
    width:250px;
    height: 115px;
}

.verticals{
    height: 20px;
}

.cardsmall {
    height: 115px;
    width: 115px;
}

.card-inner, .cardtwo-inner, .cards-inner, .cardsmall-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    border-radius: 15px;
}

.card-front:hover, .cards-front:hover, .cardtwo-front:hover, .cardsmall-front:hover {
    transition: 0.3s;
    background-color: #5a5a6d81;
}

.card-front img, .cards-front img, .cardtwo-front img, .cardsmall-front img{
    background-color: #8383835a;
    padding:5px;
    border-radius: 5px;
}

.card-front,  .cards-front,  .cardsmall-front,  .cardtwo-front {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 15px;
    display: block;

    padding: 20px; /* Add padding inside the card */
    box-sizing: border-box; /* Include padding in the element's total width and height */
}

.card-front, .cards-front, .cardtwo-front {
    background-color: #86BC25;

    color: white;
}

.cards-front {
    background-color: #0b9bd7;
    text-align: left;
    
}

.cardtwo-front {
    background-color: #66bc26;
    
}

.cardsmall-front {
    background-color: #63b5e4;
    color: white;
}

.vertical{
    flex-direction: column;
}


@media screen and (max-width: 768px) {
    .card, .cards, .cardsmall, .cardtwo {
        flex: 0 1 calc(50% - 20px);
    }
}

@media screen and (max-width: 480px) {
    .card, .cards, .cardsmall, .cardtwo {
        flex: 0 1 100%;
    }
}

.cardsmall-front img {
    height: 50px;
}



.card-front, .cards-front, .cardsmall-front, .cardtwo-front {
    /* existing styles... */
    padding: 15px; /* This is the inner padding for the cards */
    box-sizing: border-box; /* Include padding in the element's total width and height */
  }
  
  .card-front h3, .card-front p, .cards-front h3, .cards-front p, .cardsmall-front h3, .cardsmall-front p, .cardtwo-front h3, .cardtwo-front p {
    margin: 10px 0; /* Adjust the space between headers and paragraphs */
    text-align: left;
  }
  
  .card-front img, .cards-front img, .cardsmall-front img, .cardtwo-front img {
    max-width: 100%; /* Makes image responsive and ensures it fits within the padding */
    height: 25px; /* Maintains the aspect ratio of the image */
    display: block; /* Ensures the image takes up the full width of its line */
    margin-bottom: 10px; /* Provides some space below the image */
  }
  

.section-title {
    font-size: 24px; /* Example font size, adjust as needed */

    font-weight: bold;
   
    text-align: left;
    padding-left: 20px; /* Align with the cards' padding */
}

.section {

    border-radius: 15px;
   
    padding: 8px; /* Padding around the content within the section */
}

.search-container {
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    margin-bottom: 20px; /* Add some space below the search bar */
}

#searchInput {
    padding: 10px;
    margin-top: 20px;
    font-size: 17px;
    border: 1px solid grey;
    float: center;
    width: 80%; /* You can adjust the width as you see fit */
    background: #f1f1f1;
}

.section{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.card-box{
    display: flex;
    width: calc(100%-20px);
    flex-direction: row;

    gap: 20px;
    padding: 20px;


    border-radius: 15px;

}

html, body {

    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
  }
  
  body {
/* Make sure the body takes up at least the height of the viewport */
    display: flex;
    flex-direction: column;
  }
  
  .footer {
    margin-top: 20px; /* Pushes the footer to the bottom */
    width: 100%; /* Ensures the footer fills the width */
    background-color: #333; /* Example background color */
    color: white; /* Example text color */
    text-align: center; /* Centers the text */
    padding: 10px 0; /* Adds padding above and below the text */
  }
  .footers {
/* Pushes the footer to the bottom */
    width: 100%; /* Ensures the footer fills the width */
    background-color: #333; /* Example background color */
    color: white; /* Example text color */
    text-align: center; /* Centers the text */
    padding: 10px 0; /* Adds padding above and below the text */
  }
  
  /* Additional styling to ensure no space below the footer */
  body > :last-child {
    margin-bottom: 0;
  }
  
  .main {
    display: flex;
    justify-content: space-between;
    height: 620px;
}

.images, .login {
    width: 50%;
    height: 100%; /* Make sure they take full height of .main */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden; /* Prevents any overflow from the images */
}

/* Adjust the image styling */
.images img{
    width: 100%;
    height: 100%;
    object-fit: cover; /* This will cover the area without stretching */
}

.card-containers {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    padding: 20px;
    margin: auto;
    margin-top: 50px;
    max-width: calc(100% - 200px);
    border-radius: 15px;
    background-color: rgb(140, 140, 140, 0.32)
}

.lightbox-modal {
    display: none; /* Hidden by default */
    position: absolute; /* Change from fixed to absolute */
    transform-origin: top left;
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 500px; /* Full width */
    height: 700px; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(63, 117, 64, 0.555); /* Black w/ opacity */
    border-radius: 15px;
    transition: opacity 0.4s ease;
}

.lightbox-content {
    position: relative;
    margin: auto;
    padding: 20px;
    width: 80%;
    max-width: 700px;
    transform: scale(0); /* Start with the content scaled down */
    transition: transform 0.4s ease;
}

.close {
    position: absolute;
    top: 10px;
    right: 25px;
    color: #fff;
    font-size: 35px;
    font-weight: bold;
    cursor: pointer;
}

.lightbox-img {
    width: 100%;
    margin-bottom: 15px;
}

.lightbox-info {
    color: #fff;
}

.lightbox-title {
    font-size: 24px;
    margin-bottom: 10px;
}

.lightbox-description {
    font-size: 16px;
}

.lightbox-modal.show {
    opacity: 1; /* Fade in the modal */
}

.lightbox-modal.show .lightbox-content {
    transform: scale(1); /* Scale up the content */
}

.lightbox-modal.hide {
    opacity: 0; /* Fade out the modal */
    transition: opacity 0.4s ease, visibility 0s linear 0.4s; /* Delay the visibility transition until the fade-out is complete */
}

.lightbox-modal.hide .lightbox-content {
    transform: scale(0); /* Scale down the content */
    transition: transform 0.4s ease;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* High z-index to ensure it's above other elements */
}


.modal {

        overflow: hidden; /* Hide overflow to prevent scrolling */
        max-width: 90%; /* Adjust based on your design */
        max-height: 90%; /* Adjust based on your design */

    
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

    background-image: linear-gradient(to bottom, #ffffff, #a2c9ef);
    padding: 20px;
    border-radius: 15px;
    width: 60%; /* Adjust the width as needed */
    height: 90%; /* Adjust the height as needed */

    overflow-y: auto;

}

.modal p{
    text-align: justify;
}

.close-modal {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 30px;
    cursor: pointer;
}

.dashboard{
    width:890px;
    align-self: center;
}