<div>
  <link href="./navigation-links.css" rel="stylesheet" />
  <nav class="navigation-links-nav">
    <a href="index.html" class="navigation-links-navlink"><span>Home</span></a>
    <a href="departmental-insights.html" class="navigation-links-navlink1">
      <span>Departmental Insights</span>
    </a>
    <a href="heatmap-monitoring-tool.html" class="navigation-links-navlink2">
      <span>Heatmap monitoring tool</span>
    </a>
    <a href="team.html" class="navigation-links-navlink3"><span>Team</span></a>
    <a href="contact-us.html" class="navigation-links-navlink4">
      <span>Contact us</span>
    </a>
  </nav>
</div>
