<div>
  <link href="./testimonial-card1.css" rel="stylesheet" />
  <div class="testimonial-card1-testimonial-card">
    <div class="testimonial-card1-testimonial">
      <span class="testimonial-card1-text"><span>Rupali Wadhawan</span></span>
      <span class="testimonial-card1-text1">
        <span>Schulich School of Business</span>
      </span>
      <img
        alt="profile"
        src="https://images.unsplash.com/photo-1534528741775-53994a69daeb?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDd8fHBvcnRyYWl0fGVufDB8fHx8MTYyNjM3ODk3Mg&ixlib=rb-1.2.1&h=1200"
        class="testimonial-card1-image"
      />
    </div>
  </div>
</div>
